<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lah.AnimalBreeding.mapper.EstrusBoarMapper" >

    <!--分页查询发情种猪行为记录表-->
    <select id="getEstrusBoar" parameterType="org.lah.AnimalBreeding.domain.EstrusBoar" resultType="org.lah.AnimalBreeding.domain.EstrusBoar">
        select * from 2020rg_group13_boarestruslnfo
        <where>
            <if test=" ActionID!=null and  ActionID!=0">
                ActionID=#{ActionID}
            </if>
            <if test=" AnimalNumber!=null and  AnimalNumber!=''">
                AnimalNumber=#{AnimalNumber}
            </if>
            <if test="BehaviorStartTime !=null and BehaviorStartTime !=''">
                BehaviorStartTime=#{BehaviorStartTime}
            </if>
        </where>
        ORDER BY ActionID asc
        limit #{currentPage},#{pageSize}
    </select>

    <!--查询发情种猪行为记录表数据总数-->
    <select id="totalCount"  resultType="Integer">
        select count(ActionID) from 2020rg_group13_boarestruslnfo
        <where>
            <if test=" ActionID!=null and  ActionID!=0">
                ActionID=#{ActionID}
            </if>
            <if test=" AnimalNumber!=null and  AnimalNumber!=''">
                AnimalNumber=#{AnimalNumber}
            </if>
            <if test="BehaviorStartTime !=null and BehaviorStartTime !=''">
                BehaviorStartTime=#{BehaviorStartTime}
            </if>
        </where>
        ORDER BY  ActionID asc
    </select>

    <!--通过ID删除发情种猪行为记录表信息-->
    <delete id="deleteEstrusBoar" parameterType="Integer" >
        delete from 2020rg_group13_boarestruslnfo where ActionID=#{ActionID}
    </delete>

    <!--添加发情种猪行为记录表信息-->
    <insert id="addEstrusBoar" parameterType="org.lah.AnimalBreeding.domain.EstrusBoar" keyProperty="ActionID" useGeneratedKeys="true">
        insert into 2020rg_group13_boarestruslnfo (ActionID,AnimalNumber,BehaviorStartTime,BehaviorEndTime,BehaviorDescription,TreatmentPlan,TreatmentResult)
        values(#{ActionID},#{AnimalNumber},#{BehaviorStartTime},#{BehaviorEndTime},#{BehaviorDescription},#{TreatmentPlan},#{TreatmentResult})
    </insert>

    <!--根据ID查询发情种猪行为记录表信息-->
    <select id="findEstrusBoarById"  parameterType="Integer" resultType="org.lah.AnimalBreeding.domain.EstrusBoar" >
       select * from 2020rg_group13_boarestruslnfo where ActionID=#{ActionID}
    </select>

    <!--添加发情种猪行为记录表信息-->
    <update id="updateEstrusBoar" parameterType="org.lah.AnimalBreeding.domain.EstrusBoar">
        update 2020rg_group13_boarestruslnfo
        <set>
            <if test=" ActionID!=null and  ActionID!=0">
                ActionID=#{ActionID},
            </if>
            <if test=" AnimalNumber!=null and  AnimalNumber!=''">
                AnimalNumber=#{AnimalNumber},
            </if>
            <if test="BehaviorStartTime !=null and BehaviorStartTime !=''">
                BehaviorStartTime=#{BehaviorStartTime},
            </if>
            <if test="BehaviorEndTime !=null and BehaviorEndTime !=''">
                BehaviorEndTime=#{BehaviorEndTime},
            </if>
            <if test="BehaviorDescription!=null and BehaviorDescription!=''">
                BehaviorDescription=#{BehaviorDescription},
            </if>
            <if test="TreatmentPlan !=null and TreatmentPlan !=''">
                TreatmentPlan=#{TreatmentPlan},
            </if>
            <if test="TreatmentResult!=null and TreatmentResult!=''">
                TreatmentResult=#{TreatmentResult},
            </if>
        </set>
        where ActionID = #{ActionID}
    </update>

    <!--查询所有发情种猪行为记录表信息-->
    <select id="getAll" resultType="org.lah.AnimalBreeding.domain.EstrusBoar">
        select * from 2020rg_group13_boarestruslnfo;
    </select>

</mapper>
